
body {
    /* https://coolors.co/generate and click export -> scss to get the colors to copy and paste below*/
    --color1: hsla(349, 69%, 76%, 1);
    --color2: hsla(207, 67%, 44%, 1);
    --color3: hsla(200, 61%, 56%, 1);
    --color4: hsla(187, 41%, 94%, 1);
    --color5: hsla(170, 28%, 95%, 1);

    /* --color1: hsla(45, 86%, 83%, 1);
    --color2: hsla(135, 65%, 98%, 1);
    --color3: hsla(315, 37%, 86%, 1);
    --color4: hsla(45, 73%, 98%, 1);
    --color5: hsla(224, 40%, 79%, 1); */
    
    --header-height: 80px;
    --shadow: 0px 10px 20px -12px rgba(0,0,0,0.45);
    --gutter: 30px;
    --footer-height: 25px;
    
    font-family: 'Titillium Web', sans-serif;
    background-image: url('../assets/forest.jpg');
    background-repeat: no-repeat;
    background-size: 1500px;
}
@font-face {
    font-family: PokemonSolid;
    src: url('../assets/Pokemon\ Solid.ttf');
}

h2 {
    text-align: center;
    font-size: 4rem;
    color: yellow;
    font-family: PokemonSolid;
    -webkit-text-stroke: 2px black;
}

.trio-display {
    padding-top: 5%;
    padding-left: 10%;
    display: inline-block;
}

canvas {
    width: 75%;
    height: 500px;
    color: yellow;
    font-family: PokemonSolid;
    -webkit-text-stroke: 2px black;
}

img {
    width: 300px;
    height: auto;
}

input {
    display: none;
}